div {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

p{
    background-color: blue;
    color: white;
    font-size: 18px;
}

h1 {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 32px;
}

li {
    font-size: 18px;
}