h1{
    font-size: 32px;
}

.header {
    color: white;
    text-align: center;
    font-weight: 700;
}

.header.spaghetti {
    background-color: red;
}   

.feijoada {
    background-color: blue;
}

.cheese {
    background-color: blue;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
}

#feijoada {
    background-color: yellowgreen;
}

#spaghetti {
    background-color: green;
}

#cheese {
    background-color: red;
}

img {
    height: auto;
    width: 500px;
}

li {
    font-size: 18px;
}